Click==7.1.2
htmlmin==0.1.12
Jinja2==2.11.3
jsmin==3.0.1
livereload==2.6.3
Markdown>=3.2.1
MarkupSafe==1.1.1
mkdocs>=1.2.3
mkdocs-material>=8.0.0
mkdocs-minify-plugin==0.4.0
pep562==1.1
Pygments>=2.10
pymdown-extensions>=9.0
PyYAML==5.4.1
six==1.16.0
tornado==5.1.1
